{% extends 'userprofile\base.html' %}
{% block style %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'userprofile/css/post.css' %}">
    <link rel="stylesheet" href="{% static 'userprofile/css/feed.css' %}">
    <link rel="stylesheet" href="{% static 'userprofile/css/postdetail.css' %}">
{% endblock %}
{% block title %}
    CircleUp: {{ comment.description }}
{% endblock %}


{% block main %}
{% include 'userprofile/include/comment.html' %}
<form class="comment-form" action="" method="post">
    {% csrf_token %}
    {{ commentform }}
    <div class="postcomment-btn">
        <input class="submit-img" type="image" src="{% static 'userprofile/img/postdetails/sendcomment.png' %}" alt="send-comment">
    </div>
</form>
{% for reply in comment.replycomment.all %}
<hr class="post-line" style="border: 0;
height: 0;
border-top: 1px solid rgba(0, 0, 0, 0.1);
border-bottom: 1px solid rgba(255, 255, 255, 0.3);">
<div class="card-container">
    <!-- profile photo -->
    <div class="post-header-container">
        <div class="author">
            <a href="{% url 'userprofile:profile' reply.author.username %}" id="profile-btn" class="nav-icon">{{ reply.author.username|slice:":1"|upper }}</a>
            <a href="{% url 'userprofile:profile' reply.author.username %}" id="username-btn">{{ reply.author.username }}</a>
        </div>
        <div class="dropdown">
        {% if request.user.id == reply.author_id %}
            <button class="dropbtn">
                <img src="{% static 'userprofile/img/post/menu.png' %}" ></img>
            </button>
            <div class="dropdown-content">
                <a href="{% url 'userprofile:post_update' reply.author comment.id %}"><img src="{% static 'userprofile/img/comment/edit.png' %}" alt="">Edit</a>
                <a href="{% url 'userprofile:post_delete' reply.author comment.id %}"><img src="{% static 'userprofile/img/comment/trash.png' %}" alt="">Delete</a>
            </div>
        {% endif %}
        </div>
    </div>
    <a class="card" href="{% url 'userprofile:comment_details' reply.author reply.id  %}">{{ reply.description|linebreaksbr|safe }}</a>
    <div class="post-footer-container">
        <button class="like" href="#" onclick="toggleLikeImage('{{ comment.id }}')">
            <img class="post-icon" id="postlike_{{ post.id }}" src="{% static 'userprofile/img/post/like.png' %}"></img>
        </button>
        <a class="comment" href="{% url 'userprofile:comment_details' reply.author.username reply.id  %}">
            <img class="post-icon" src="{% static 'userprofile/img/post/comment.png' %}"></img>
            <p class="comment-count">{{ post.comments_counter }}</p>
        </a>
        <button class="save" href="#">
            <img class="post-icon" src="{% static 'userprofile/img/post/bookmark.png' %}"></img>
        </button>
        <button class="share" href="#">
            <img class="post-icon" src="{% static 'userprofile/img/post/share.png' %}"></img>
        </button>
    </div>
</div>
{% endfor %}

{% endblock %}