{% extends 'userprofile/base.html' %}

{% block style %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'userprofile/css/feed.css' %}" type="text/css">
{% endblock %}


{% block title %}
CircleUp
{% endblock %}

{% block left %}
    <div class="left">
        <div class="left-title">
            <h3>Friends</h3>
        </div>
        <div class="following">
            {% for item in friends %}
            {% with item.follower as user %}
                <div class="friends">
                    <div id="profile-btn" class="nav-icon">{{ user.username|slice:":1"|upper }}</div>
                    <a id="username" href="{% url 'userprofile:profile' user.username %}">{{ user.username }}</a>
                </div>
                <hr class="hr-users">
            {% endwith %}
            {% endfor %}
        </div>
    </div>
{% endblock %}


{% block main %}

{% include 'userprofile/include/postform.html' %}
{{ following_posts }}
<!-- include posts -->
{% for post, commentsNum in posts_list %}
    {% include 'userprofile/include/post.html' %}
{% endfor %}
{% endblock %}


{% block script %}

<script>
    // Create a dictionary to store the current state of the like button for each post
    var likeStates = {};

    function toggleLikeImage(postId) {
        var image = document.getElementById('postlike_' + postId);

        // If the post is not in the likeStates dictionary, initialize the state to false
        if (!(postId in likeStates)) {
            likeStates[postId] = false;
        }

        // Toggle between the two images
        likeStates[postId] = !likeStates[postId];

        // Change the image source based on the current state
        if (likeStates[postId]) {
            image.src = "{% static 'userprofile/img/post/liked.png' %}";
        } else {
            image.src = "{% static 'userprofile/img/post/like.png' %}";
        }
    }
</script>
{% endblock %}