{% extends 'userprofile/base.html' %}

{% block style %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'userprofile/css/feed.css' %}" type="text/css">
{% endblock %}


{% block title %}
CircleUp
{% endblock %}

{% block left %}
    <div class="left">
        <div class="left-title">
            <h3>Friends</h3>
        </div>
        <div class="following">
            {% for friend, avatar in friends_list %}
            {% with friend.follower as user %}
                <div class="friends">
                    <a href="{% url 'userprofile:profile' requsername %}" id="profile-btn" class="nav-icon"><img class="user-avatar" src="{{ avatar }}" alt=""></a>
                    <a id="username" href="{% url 'userprofile:profile' user.username %}">{{ user.username }}</a>
                </div>
                <hr class="hr-users">
            {% endwith %}
            {% empty %}
            <section class="nofriends">
                <p>No friends!</p>
            </section>
            {% endfor %}
        </div>
    </div>
{% endblock %}


{% block main %}
<form class="search-form" action="" method="get">
    {{ searchform }}
    <button type="submit"><i class="fi fi-rr-search"></i></button>
</form>
{% include 'userprofile/include/postform.html' %}
{{ following_posts }}
<!-- include posts -->
{% for post, commentsNum, like_status, avatar in posts_list %}
    {% include 'userprofile/include/post.html' %}
{% endfor %}
{% endblock %}


{% block right %}
    <div class="right">
        <div class="right-title">
            <h3>Blogs</h3>
        </div>
        <div class="blogs">
            {% for blog in blogs %}
            <a class="blog"  href="{% url 'home:blog_details' blog.id %}">
                <div class="image-container">
                    <img src="{{ blog.thumbnail.url }}" alt="">
                </div>
                <div class="blog-content">
                    <h1 class="blog-title">{{ blog.title|truncatechars:30 }}</h1>
                    <p class="blog-txt">{{ blog.text|truncatechars:85 }}</p>
                    <h5 class="blog-created">CircleUp • {{ blog.created }}</h5>
                </div>
            </a>
            {% endfor %}
        </div>
    </div>
{% endblock %}


{% block script %}

<script>

</script>
{% endblock %}