 {% extends 'userprofile\base.html' %}
{% block style %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'userprofile/css/post.css' %}">
    <link rel="stylesheet" href="{% static 'userprofile/css/feed.css' %}">
    <link rel="stylesheet" href="{% static 'userprofile/css/postdetail.css' %}">
{% endblock %}
{% block title %}
    CircleUp: {{ post.description}}
{% endblock %}


{% block main %}
{% include 'userprofile/include/post.html' %}
<form class="comment-form" action="" method="post">
    {% csrf_token %}
    {{ commentform }}
    <div class="postcomment-btn">
        <input class="submit-img" type="image" src="{% static 'userprofile/img/postdetails/sendcomment.png' %}" alt="send-comment">
    </div>
</form>
    {% for comment in comments%}
    <div class="card-container">
        <!-- profile photo -->
        <div class="post-header-container">
            <div class="author">
                <a href="{% url 'userprofile:profile' comment.author.username %}" id="profile-btn" class="nav-icon">{{ comment.author.username|slice:":1"|upper }}</a>
                <a href="{% url 'userprofile:profile' comment.author.username %}" id="username-btn">{{ comment.author.username }}</a>
            </div>
            <div class="dropdown">
            {% if request.user.id == comment.author_id %}
                <button class="dropbtn">
                    <img src="{% static 'userprofile/img/post/menu.png' %}" ></img>
                </button>
                <div class="dropdown-content">
                    <a href="{% url 'userprofile:post_update' post.author.username post.id %}"><img src="{% static 'userprofile/img/post/edit.png' %}" alt="">Edit</a>
                    <a href="{% url 'userprofile:post_delete' post.author.username post.id %}"><img src="{% static 'userprofile/img/post/trash.png' %}" alt="">Delete</a>
                </div>
            {% endif %}
            </div>
        </div>
        <a class="card" href="{% url 'userprofile:comment_details' comment.author.username comment.id  %}">{{ comment.description|linebreaksbr|safe }}</a>
        <div class="post-footer-container">
            <button class="like" href="#" onclick="toggleLikeImage('{{ comment.id }}')">
                <img class="post-icon" id="postlike_{{ comment.id }}" src="{% static 'userprofile/img/post/like.png' %}"></img>
            </button>
            <a class="comment" href="{% url 'userprofile:comment_details' comment.author.username comment.id  %}">
                <img class="post-icon" src="{% static 'userprofile/img/post/comment.png' %}"></img>
                {% with comment.replycomment.all.count as commentsNum %}
                <p class="comment-count">
                    {% if commentsNum %}
                        {{ commentsNum }}
                    {% else %}
                        {{ '' }}
                    {% endif %}
                </p>
                {% endwith %}
            </a>
            <button class="save" href="#">
                <img class="post-icon" src="{% static 'userprofile/img/post/bookmark.png' %}"></img>
            </button>
            <button class="share" href="#">
                <img class="post-icon" src="{% static 'userprofile/img/post/share.png' %}"></img>
            </button>
        </div>
    </div>
    {% endfor %}
{% endblock %}