{% extends 'userprofile/base.html' %}

{% block title %}
    {{ username | capfirst }}
{% endblock %}

{% block body %}
    <div class="list-container">
        <div id="follower-list" class="rel-list">
            <h3 id="h3-title">Follower</h3>
                {% for item, is_following_req_user, avatar in follower_list %}
                    <div class="user-list">
                        <div id="user">
                            <div id="profile-btn"><img class="user-avatar" id="user-avatar" src="{{ avatar.url }}" alt=""></div>
                            <a id="username" href="{% url 'userprofile:profile' item.username %}">{{ item.username }}</a>
                        </div>
                        <div id="btn-relation">
                            {% if is_following_req_user %}
                                <a href="{% url 'userprofile:user_unfollow' item %}" class="btn-unfollow">Unfollow</a>
                            {% else %}
                                <a href="{% url 'userprofile:user_follow' item %}" class="btn-follow">Follow</a>
                            {% endif %}
                        </div>
                    </div>
                {% empty %}
                    <section class="noflwcontainer">
                        <p>No Follower!</p>
                    </section>
                {% endfor %}
        </div>
    </div>

    <div class="list-container">
        <div id="following-list" class="rel-list">
            <h3 id="h3-title">Following</h3>
                {% for item, avatar in followings_list %}
                <div class="user-list" href="{% url 'userprofile:profile' item.following %}">
                    <div id="user" >
                        <div id="profile-btn"><img class="user-avatar" id="user-avatar" src="{{ avatar.url }}" alt=""></div>
                        <a id="username" href="{% url 'userprofile:profile' item.username %}">{{ item.username }}</a>
                    </div>
                    <div id="btn-relation">
                        <a href="{% url 'userprofile:user_unfollow' item.following %}" class="btn-unfollow">Unfollow</a>
                    </div>
                </div>
                {% empty %}
                    <section class="noflwcontainer">
                        <p>No Follower!</p>
                    </section>
                {% endfor %}
        </div>
    </div>
{% endblock %}

{% block style %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'userprofile/css/feed.css' %}">
    <link rel="stylesheet" href="{% static 'userprofile/css/profile.css' %}">
    <link rel="stylesheet" href="{% static 'userprofile/css/include/relation-list.css' %}">
    <link rel="stylesheet" href="{% static 'userprofile/css/include/profile-left.css' %}">
{% endblock %}

{% block left %}
<div class="left">
    {% include "userprofile/include/profile-left/profile-left.html" %}
    <footer>
        <p>© {{ year }} ishayana</p>
    </footer>
</div>
{% endblock %}
    
    
    {% block main %}
    <div class="main-userinfo">
        {% include "userprofile/include/profile-left/user-info.html" %}
    </div>
    <br>
    <hr class="post-line" style="border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);">
    {% if request.user.username == username %}
        {% include 'userprofile/include/postform.html' %}
    {% endif %}

    <!-- Load posts html -->
    {% for post, commentsNum, like_status, avatar in posts_list %}
    {% include 'userprofile/include/post.html' %}
    {% endfor %}
    
{% endblock %}

{% block right %}
    {% include 'userprofile/include/right-bar.html' %}
{% endblock %}

{% block script %}
    <script>
document.addEventListener('DOMContentLoaded', function() {
    const backDrop = document.querySelector(".list-container");

    // Click event listener for follower buttons
    const followers = document.querySelectorAll('.follower');
    followers.forEach(follower => {
        follower.addEventListener('click', () => {
            const relList = document.querySelector("#follower-list");
            showList(relList);
        });
    });

    // Click event listener for following buttons
    const followings = document.querySelectorAll('.following');
    followings.forEach(following => {
        following.addEventListener('click', () => {
            const relList = document.querySelector("#following-list");
            showList(relList);
        });
    });

    // Click event listener for backdrop to handle clicks outside lists
    backDrop.addEventListener('click' , function(event){
        const followerList = document.querySelector('#follower-list');
        const followingList = document.querySelector('#following-list');
        if (!followerList.contains(event.target) && !followingList.contains(event.target)) {
            hideLists();
        }
    });

    function showList(list) {
        backDrop.classList.add("list-container-active");
        list.classList.add("rel-list-active");
        list.innerHTML = document.querySelector("#" + list.id).innerHTML;
    }

    function hideLists() {
        backDrop.classList.remove('list-container-active');
        document.querySelectorAll('.rel-list-active').forEach(list => {
            list.classList.remove('rel-list-active');
        });
    }
});

    </script>
{% endblock %}


