
.nav-container {
    box-sizing: border-box;
    max-width: 1300px;
    width: 100%;
    padding: 15px;
    display: flex;
    justify-content: flex-end;
}

.nav-icon {
    width: 30px;
    height: 30px;
    margin: 0 14px;
}

#profile-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    font: 15px sans-serif;
    text-align: center;
    align-self: center;
    width: 30;
    height: 30;
    border-radius: 100%;
    color: rgb(199, 199, 199);
    background-image: linear-gradient(135deg, #ffcf2f 0%, #e73200 100%);
    text-decoration: none;
}