/* Left side */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&family=Ysabeau:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anek+Gurmukhi&display=swap');

*{
    box-sizing: border-box;
}


.left {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    width: 90%;
    height: 100%;
    overflow: hidden;
    padding: 100px 20px 0 0;
}

