<header class="user-info">
    <div id="profile-btn"><img class="user-avatar" id="user-avatar" src="{{ avatar.url }}" alt=""></div>
    <h3>{{ username | capfirst }}</h3>
        {% if not is_following and request.user.username != username %}
            <div class="btn-follow">
                <a href="{% url 'userprofile:user_follow' username %}">Follow</a>
            </div>
            {% elif is_following and request.user.username != username %}
            <div class="btn-unfollow">
                <a href="{% url 'userprofile:user_unfollow' username %}">Unfollow</a>
            </div>
        {% endif %}
    <div class="rel">
        <button class="follower">
            <p>Follower</p>
            <p>{{ followers.count }}</p>
        </button>
        <button class="following">
            <p>Following</p>
            <p>{{ followings_list | length }}</p>
        </a>
        <button id="posts">
            <p>Posts</p>
            <p>{{ posts.count }}</p>
        </a>
    </div>
</header>