{% extends 'base.html' %}

{% block style %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'accounts/css/password_reset_form.css' %}">
    <link rel="stylesheet" href="{% static 'accounts/css/password_reset_done.css' %}">
{% endblock %}

{% block body %}
<div class="forgotpass-aligner">
    <div class="forgot-pass-block" id="fpb-size">
        <img class="reset-pass-img" src="{% static 'accounts/img/reset-pass/pr-done.png' %}" alt="key-lock">
        <h1>Check your email!</h1>
        <h3>We've sent you an email. Just follow the instructions to reset your password.</h3>
    </div>
</div>
{% endblock %}