{% extends 'base.html' %}

{% block style %}
{% load static %}
    <link rel="stylesheet" href="{% static 'accounts/css/password_reset_form.css' %}">
    <link rel="stylesheet" href="{% static 'accounts/css/password_reset_complete.css' %}">
{% endblock %}

{% block title %}
    Password Reset Complete
{% endblock %}

{% block body %}
    <div class="forgotpass-aligner">
        <div class="forgot-pass-block" id="fpb-size">
            <img class="reset-pass-img" src="{% static 'accounts/img/reset-pass/pr-complete.png' %}" alt="key-lock">
            <h1>Password Reset Successfully!</h1>
            <h3>Your password has been successfully updated. If you have any concerns, please contact us at support@circleup.com</h3>
        </div>
    </div>
{% endblock %}

