{% extends 'base.html' %}

{% block style %}
{% load static %}
    <link rel="stylesheet" href="{% static 'accounts/css/password_reset_form.css' %}">
{% endblock%}


{% block title %}
    Password Reset
{% endblock %}


{% block body %}
<div class="forgotpass-aligner">
    <div class="forgot-pass-block">
        <img class="reset-pass-img" src="{% static 'accounts/img/reset-pass/pr-form.png' %}" alt="key-lock">
        <H1>Reset Password</H1>
        <h3>Enter your CircleUp username, or the email address that you used to register. We'll send you an email with your username and a link to reset your password.</h3>
        <form action="" method="post"> 
            {{ form.as_p }}
            {% csrf_token %}
            <input class="def-btn" type="submit" value="Send">
        </form>
    </div>
</div>
{% endblock %}

