@font-face {
    font-family: 'coolvetica rg';
    src: url('../../../static/fonts/coolvetica/coolvetica rg.otf');
}


.forgotpass-aligner {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: calc(100vh - 48px);
    border-radius: 10px 10px 0 0 ;
}

.forgot-pass-block {
    display: flex;
    background: #bbbbbb;
    border-radius: 15px;
    width: 500%;
    min-width: 200px;
    max-width: 500px;
    height: 500px;
    padding: 35px;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    box-shadow: 15px 15px 50px rgb(0, 0, 0);
}

.reset-pass-img {
    width: 170px;
    margin: 10px 0 10px;
}

.forgot-pass-block > h1 {
    font-family: 'coolvetica rg';
    margin: 0 0 10px;
    width: max-content;
    color: #163536;
}
.forgot-pass-block > h3 {
    text-align: center;
    font-family: "Dosis", sans-serif;
    font-size: 18px;
    margin: 0 0 40px;
    text-wrap:wrap;
    color: rgb(73, 73, 73);
    font-weight: 700;
}


@media (max-width: 450px) {

    
    .forgotpass-aligner{
        align-items: flex-start;
        background-color: #d3d3d3;
    }

    .forgot-pass-block {
        display: flex;
        flex-direction: column;
        margin: 70px 20px;
        height: auto;
        justify-content: flex-start;
        background: none;
        width: 100%;
        box-shadow: none;
        padding: 0;
    }

    .fields, .def-btn{
        width: 300px;
        height: 40px;
        font-size: 15px;
    }
}

